.hero {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  // @include respond(tab-port) {
  //   margin-top: 80px;
  // }

  &::after {
    @include cover(10);
    content: '';
    background: rgba($color: #000000, $alpha: 0.6);
    @include respond(tab-port) {
      background: rgba($color: #000000, $alpha: 0.5);
    }
  }

  .texture {
    @include cover(15);
    background: url('diagonal.png');
  }

  img {
    @include cover(5);
    object-fit: cover;
  }

  .caption {
    position: relative;
    display: flex;
    justify-content: flex-end;
    @include respond(tab-port) {
      justify-content: flex-start;
    }
    height: 65vh;
    flex-direction: column;
    z-index: 20;
    text-align: left;
    color: white;
    @include respond(tab-port) {
      justify-content: center;
      margin-top: 80px;
    }

    h1 {
      font-size: calc(1.8rem + 1.6vw);
      text-transform: uppercase;
      line-height: 1;
      max-width: 20ch;
      font-weight: 800;
      
      @include respond(tab-port) {
        margin-bottom: 2em;
      }
      
      em {
        font-style: unset;
        color: rgba($color: #000000, $alpha: 0.1);
        -webkit-text-stroke: 1px white;
      }
    }

    h4 {
      font-size: 1rem;
      font-weight: 100;
      @include respond(tab-port) {
        font-size: 1.5rem;
      }
    }

    a {
      text-decoration: none;
    }
  }

  &--index {
    video {
      @include cover(5);
      object-fit: cover;
    }

    .video-large {
      display: none;

      @include respond(tab-port) {
        display: block;
      }
    }
    img {
      @include respond(tab-port) {
        display: none;
      }
    }
    .caption {
      h1 {
        margin-top: 0.25rem;
      }
    }
  }

  &--team {
    height: 20rem;
    align-items: flex-end;
    .caption {
        height: auto;
        margin-top: 1em;
        &--team {
            h1 {
                margin-bottom: 0;
                font-size: 3rem;
                @include respond(tab-port) {
                    font-size: 5rem;
                }
            }
        
            h4 {
                margin: 0;
                margin-left: .25em;
                @include respond(tab-port) {
                    font-size: 1.5rem;
                }
            }
        }
    }


    @include respond(tab-port) {
        height: 30rem;
        .caption {
            margin-top: 3em;
        }
    }
  }
}

.ctaBtn {
  width: 18em;
  padding: 1em;
  line-height: 2;
  text-align: center;
  transition: 0.25s;
  background: $interactive-400;
  border: .15rem solid white;
  // background: $honey-600;
  border-radius: 100px;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;

  &:hover {
    background: $interactive-500;
  }

  span {
    color: $light-50;
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
  }
}
