.hero {
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
	// @include respond(tab-port) {
		//   margin-top: 80px;
	}
	&::after {
		background: rgba($color: #000000, $alpha: 0.6);
		content: '';
		@include respond(tab-port) {
			background: rgba($color: #000000, $alpha: 0.5);
		}
	}
	.texture {
		background: url('diagonal.png');
	}
	img {
		object-fit: cover;
	}
	.caption {
		display: flex;
		position: relative;
		flex-direction: column;
		justify-content: flex-end;
		z-index: 20;
		height: 65vh;
		text-align: left;
		color: white;
		@include respond(tab-port) {
			justify-content: center;
			margin-top: 80px;
		}
		h1 {
			max-width: 20ch;
			text-transform: uppercase;
			line-height: 1;
			font-size: calc(1.8rem + 1.6vw);
			font-weight: 800;
			@include respond(tab-port) {
				margin-bottom: 2em;
			}
			em {
				color: rgba($color: #000000, $alpha: 0.1);
				font-style: unset;
				-webkit-text-stroke: 1px white;
			}
		}
		h4 {
			line-height: 1.1;
			font-size: 1rem;
			font-weight: 100;
			@include respond(tab-port) {
				font-size: 1.5rem;
			}
		}
		a {
			text-decoration: none;
		}
	}
	&--index {
		video {
			object-fit: cover;
		}
		.video-large {
			display: none;
			@include respond(tab-port) {
				display: block;
			}
		}
		img {
			@include respond(tab-port) {
				display: none;
			}
		}
		.caption {
			h1 {
				margin-top: 0.25rem;
			}
		}
	}
	&--team {
		align-items: flex-end;
		height: 20rem;
		.caption {
			margin-top: 1em;
			height: auto;
			pointer-events: none;
			&--team {
				h1 {
					margin-bottom: 0;
					font-size: 3rem;
					@include respond(tab-port) {
						font-size: 5rem;
					}
				}
				h4 {
					margin: 0;
					margin-left: .25em;
					@include respond(tab-port) {
						font-size: 1.5rem;
					}
				}
			}
		}
		@include respond(tab-port) {
			height: 30rem;
			.caption {
				margin-top: 3em;
			}
		}
	}
}
.cta {
	transition: 0.25s;
	border-radius: 100px;
	background: $interactive-500;
	cursor: pointer;
	padding: 1em;
	width: 18em;
	text-align: center;
	line-height: 2;
	font-family: 'Poppins', sans-serif;
	&:hover {
		background: $interactive-400;
	}
	span {
		text-transform: uppercase;
		color: $light-50;
		font-size: 1.125rem;
		font-weight: 600;
	}
}
