header {
  position: absolute;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 80px;
  text-align: left;
  display: grid;
  align-content: center;
  place-items: center;
  transition: 0.3s ease-in-out;

  .header__content {
    @include respond(tab-port) {
      display: flex;
      justify-content: space-between;
    }
  }
}

.logo img {
  width: 10rem;
  margin-top: 0.5rem;
}

.nav {
  position: absolute;
  text-align: right;
  top: 100%;
  right: 0;
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top right;
  transition: 0.4s ease-in-out;

  &__list {
    margin-bottom: 0.75rem;
    list-style: none;

    @include respond(tab-port) {
      display: flex;
      align-items: center;
      margin-bottom: 0;
    }
  }

  li {
    &:not(:first-child) {
      margin-top: 0.5em;
    }
    margin-right: 1em;

    @include respond(tab-port) {
      &:not(:first-child) {
        margin-top: 0;
      }
      margin-bottom: 0;
    }
  }

  &__a {
    position: relative;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 400;
    opacity: 0;
    transition: opacity 0.15s ease-in-out;

    &:active {
      color: $grey-light-disabled;
    }

    @include respond(tab-port) {
      opacity: 1;
      font-size: 1rem;
    }
  }

  &__a--sponsor {
    color: $interactive-500;
    font-weight: 600;
  }

  @include respond(tab-port) {
    all: unset;
    display: flex;
    align-items: center;

    &__a {
      &::before {
        content: '';
        display: block;
        height: $line-height * 1.2;
        background: white;
        position: absolute;
        top: -0.35em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transition: transform ease-in-out 250ms;
      }

      &:active::before {
        background: $grey-light-disabled;
      }

      &:hover::before {
        transform: scale(1, 1);
      }
      &--active {
        &::before {
          transform: scale(1, 1);
        }
      }

      &--sponsor {
        color: $interactive-400;
        &:hover::before {
          background: $interactive-400;
        }

        &:active {
          color: $interactive-600;
        }

        &:active::before {
          background: $interactive-600;
        }

        &--active {
          &::before {
            background: $interactive-400;
          }
        }
      }
    }
  }
}

.display-nav {
  transform: scale(1, 1);

  a {
    opacity: 1;
    transition: opacity 0.25s ease-in-out 0.25s;
  }
}

#hamburger {
  all: unset;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  height: 5rem;
  width: 5rem;
  transform: scale(0.75);
  transition: 0.3s;

  span {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 0;
    width: 3rem;
    border: 0.2rem solid white;
    margin: -0.25rem 0 0 -1.75rem;
    transition: 0.3s;

    &:before,
    &:after {
      content: '';
      position: absolute;
      left: 50%;
      width: 3.5rem;
      height: 0.4rem;
      background: white;
      margin: 0 0 0 -1.75rem;
      transition: 0.3s;
    }

    &:before {
      top: -1.125rem;
    }

    &:after {
      top: 0.625rem;
    }
  }

  &.open span {
    height: 3rem;
    margin: -2rem 0 0 -2rem;
    border-width: 0.35rem;
    border-radius: 3rem;

    &:before,
    &:after {
      top: 1.3rem;
      width: 2rem;
      margin: 0 0 0 -0.95rem;
    }

    &:before {
      transform: rotate(-135deg);
    }

    &:after {
      transform: rotate(135deg);
    }
  }

  @include respond(tab-port) {
    display: none;
  }
}

.header--scrolled {
  position: fixed;
  background: rgba($primary-500, 0.98);

  @include respond(tab-port) {
    .nav__a--sponsor {
      padding: 0.25em 0.5em;
      border-radius: 5em;
      background-color: $interactive-400;
      border: 0.125rem solid white;
      box-shadow: $bs-light;
      transition: background-color 0.3s;
      color: white;
      font-weight: 400;
      &:hover::before {
        transform: scale(0, 1);
      }
      &:hover {
        background: $interactive-500;
      }
      &:active {
        box-shadow: unset;
      }

      &--active {
        &::before {
          transform: scale(0, 1);
        }
      }
    }
  }

  nav {
    transition: 0.3s ease-in-out;
    background: rgba($primary-500, 0.98);
  }
}
