// -------- COLORS --------
// Brand
$yellow:                 hsl(44, 96%, 50%);
$yellow-dark:           hsl(44, 88%, 46%);
$blue:                hsl(222, 40%, 55%);
$blue-dark:          hsl(222, 31%, 44%);
$red:                 hsl(2, 77%, 51%);
$red-dark:           hsl(2, 73%, 44%); 

// Layout       
$honey-50:       hsl(44, 100%, 95%);
$honey-100:       hsl(44, 100%, 90%);
$honey-200:       hsl(44, 100%, 80%);
$honey-300:       hsl(44, 100%, 70%);
$honey-400:       hsl(44, 100%, 60%);
$honey-500:       hsl(44, 100%, 50%);
$honey-550:       hsl(44, 100%, 45%);
$honey-600:       hsl(44, 100%, 40%);
$honey-650:       hsl(44, 100%, 35%);
$honey-700:       hsl(44, 100%, 30%);
$honey-800:       hsl(44, 100%, 20%);
$honey-900:       hsl(44, 100%, 10%);

$primary-100:       $honey-100;
$primary-200:       $honey-200;
$primary-300:       $honey-300;
$primary-400:       $honey-400;
$primary-500:       $honey-500;
$primary-600:       $honey-600;
$primary-700:       $honey-700;
$primary-800:       $honey-800;
$primary-900:       $honey-900;

$light-50:                 hsl(240, 7%, 95%);
$light-100:                hsl(240, 7%, 90%);
$light-150:                hsl(240, 7%, 85%);
$light-200:                hsl(240, 7%, 80%);
$light-300:                hsl(240, 7%, 70%);
$light-400:                hsl(240, 7%, 60%);
$light-500:                hsl(240, 7%, 50%);
$dark-600:                 hsl(220, 2%, 40%);
$dark-700:                 hsl(220, 2%, 30%);
$dark-800:                 hsl(220, 2%, 20%);
$dark-850:                 hsl(220, 2%, 15%);
$dark-900:                 hsl(220, 2%, 10%);
$dark-950:                 hsl(220, 2%, 5%);

// Denotive
$red-error:             hsl(0, 64%, 54%);
$green-success:         hsl(167, 71%, 49%);
$grey-light-disabled:   hsl(220, 5%, 71%);
$grey-dark-disabled:    hsl(180, 3%, 38%);

$blue: hsl(209, 100%, 50%);

// Interactive
$blue-100:       hsl(209, 100%, 90%);
$blue-200:       hsl(209, 100%, 80%);
$blue-300:       hsl(209, 100%, 70%);
$blue-400:       hsl(209, 100%, 60%);
$blue-500:       hsl(209, 100%, 50%); // #0084ff
$blue-550:       hsl(209, 100%, 55%);
$blue-600:       hsl(209, 100%, 40%);
$blue-700:       hsl(209, 100%, 30%);
$blue-800:       hsl(209, 100%, 20%);
$blue-900:       hsl(209, 100%, 10%);

$salmon-100:       hsl(9, 100%, 90%);
$salmon-200:       hsl(9, 100%, 80%);
$salmon-300:       hsl(9, 100%, 70%);
$salmon-400:       hsl(9, 100%, 60%);
$salmon-500:       hsl(9, 100%, 50%);
$salmon-600:       hsl(9, 100%, 40%);
$salmon-700:       hsl(9, 100%, 30%);
$salmon-800:       hsl(9, 100%, 20%);
$salmon-900:       hsl(9, 100%, 10%);

$interactive-100:       $blue-100;
$interactive-200:       $blue-200;
$interactive-300:       $blue-300;
$interactive-400:       $blue-400;
$interactive-500:       $blue-500;
$interactive-550:       $blue-550;
$interactive-600:       $blue-600;
$interactive-700:       $blue-700;
$interactive-800:       $blue-800;
$interactive-900:       $blue-900;

$salmon: hsl(9, 99%, 60%);
$salmon-hover: hsl(9, 99%, 70%);

// ------- BOX-SHADOW -------
$bs-light:  0.25em 0.25em 0.75em rgba(0, 0, 0, .25),
            0.125em 0.125em 0.25em rgba(0, 0, 0, .15);

$bs-dark:  0.25em 0.25em 0.75em rgba(0, 0, 0, 0.75),
            0.125em 0.125em 0.25em rgba(0, 0, 0, 0.5);

// -------- FONT --------
$default-font-size: 1.6rem;
$sans: 'Poppins', sans-serif;
$serif: 'Noto Serif', serif;

$line-height: .1rem;


// -------- GRID --------
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

