.board {
  &__category {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include respond(tab-port) {
    }
  }

  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min-content;
    white-space: nowrap;
    overflow: hidden;
    h2 {
      // margin: 0 auto;
      color: $blue-600;
      font-weight: 300;
      font-size: 2rem;
      @include respond(tab-port) {
        font-size: 2.5rem;
      }
      text-transform: uppercase;
    }
    span {
      width: 95%;
      height: $line-height;
      background: $blue-600;
      margin-bottom: 1.5rem;
    }
  }

  &__card {
    display: grid;
    grid-template-columns: 1fr 8fr;
    align-items: center;
    width: 340px;
    margin-bottom: 1rem;
    @include respond(tab-port) {
      display: flex;
      flex-direction: column;
      width: 170px;
    }
  }

  &__picture {
    border-radius: 100%;
    background: $honey-500;
    line-height: 0;

    &__inside-border {
      border-radius: 100%;
      background: $light-100;
      line-height: 0;
      transform: scale(0.96);
    }
    img {
      transform: scale(0.96);
      width: 150px;
      height: 150px;
      border-radius: 100%;
      object-fit: cover;
    }
  }
  &__caption {
    margin-left: 1rem;
    @include respond(tab-port) {
      margin-left: 0;
      margin-top: 0.5rem;
    }
    line-height: 1;
    text-align: center;
    & > * {
      margin-bottom: 0.5rem;
    }
    h3 {
      font-size: 1.25rem;
      text-transform: uppercase;
      color: $blue-700;
      font-weight: 800;
    }
    h4 {
      text-transform: uppercase;
      color: $honey-550;
    }
    h5 {
      line-height: 1.2;
      color: $light-500;
      font-weight: 400;
    }
  }
}
