html {
    box-sizing: border-box;
    background: $light-50;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

section {
    display: grid;
    place-items: center;
    width: 100%;
    padding: 1em 0;
}

.container-section {
    overflow: auto;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    @include respond(tab-port) {
        margin-top: 4em;
        margin-bottom: 4em;
        width: 90%;
    }
}

h2 {
    line-height: 1.2;
}

// .containerWide {
//     max-width: 1400px;
// }

.hide {
    display: none;
}