.card {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  width: 20rem;
  height: 32rem;
  margin: 1rem;
  overflow: hidden;
  box-shadow: $bs-light;
  border-radius: 0.25rem;

  .card-btn {
    position: absolute;
    bottom: 0.65rem;
    right: 0.65rem;
    display: flex;
    background-color: $interactive-400;
    border-radius: 100%;
    padding: 0.25rem;
    border: 0.15rem white solid;
    box-shadow: $bs-light;
    cursor: pointer;
    transition: 0.5s;
    z-index: 100;
    &:hover {
      background-color: $interactive-500;
    }
    &:active {
      box-shadow: unset;
    }
    img {
      width: 2rem;
      height: 2rem;
      color: blue;
    }
  }

  label img {
    transition: 0.5s cubic-bezier(0.175, -0.5, 0.32, 1.5);
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &__main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 34rem;
    background-color: $dark-600;
    position: absolute;
    transform: translateY(30rem);
    bottom: 0;
    box-shadow: $bs-dark;
    transition: 0.5s cubic-bezier(0.68, -0.25, 0.265, 1.25);
  }

  &__header {
    display: flex;
    align-items: center;
    background: $honey-500;
    height: 4rem;
    h4 {
      font-size: 1.5rem;
      padding: 0.25rem 0;
      margin-left: 1rem;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
  }

  &__text {
    p {
      margin: .5rem .5rem 0 .5rem;
      text-align: justify;
      text-justify: inter-word;
    }
  }

  &__program-link {
    position: absolute;
    bottom: 6rem;
    right: 1rem;
    text-align: right;
    color: $interactive-400;
    font-weight: 600;
    transition: 0.3s;
    &:hover {
      color: white;
    }
  }

  &__sponsor {
    position: absolute;
    bottom: 2.75rem;
    padding: 0.25em 0.5em;
    text-decoration: unset;
    text-align: center;
    width: 14rem;
    border-radius: 5em;
    background-color: $interactive-400;
    border: 0.125rem solid white;
    color: white;
    font-weight: 400;
    box-shadow: $bs-light;
    transition: background-color 0.3s;
    &:hover {
      background: $interactive-500;
    }
    &:active {
      box-shadow: unset;
    }
  }
}

@for $i from 1 through 6 {
  #toggle#{$i}:checked ~ .card__main {
    transform: translateY(2rem);
  }
  #toggle#{$i}:checked ~ label img {
    transform: rotate(180deg);
  }
  #toggle#{$i}:checked ~ label {
    opacity: 0.75;
  }
}
